<h2> Yay, you logged in! </h2>
<br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/wZZ7oFKsKzY?autoplay=1" frameborder="0" allowfullscreen></iframe>
<br>
<p> Ready to logout? <%= link_to "Get me out of here!", session_path, method: :delete, data: {confirm: "Are you sure to want to logout?"}%></p>