<div class= "title">
<h1> Welcome To A Site You Would Definitely Want To Login For! </h1>
</div>
<br>
<div class="container">
<p><%= link_to "Login to your account here!", new_session_path%></p>
<br>
<p><%= link_to "Create a new account here!", new_user_path %></p>
</div>