<h1> Welcome To a Site You Would Definitely Want a Login For! </h1>
<br>
<p><%= link_to "Login to your account here!", new_session_path%></p>
<br>
<p><%= link_to "Create a new account here!", new_user_path %></p>
